<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hackweek #13</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <style>
      body {
        max-width: 1000px;
        margin: 0 auto;
        padding: 1rem;
        font: normal 1rem/1.2 sans-serif;
        color: #444;
        background: #fbfbfb;
      }

      blockquote {
        border-left: 4px solid #bbb;
        padding-left: 1rem;
        margin-left: 0;
        font-size: 0.9rem;
        line-height: 1.8;
      }

      a {
        color: #009090;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        text-decoration: underline;
      }

      @media screen and (min-width: 700px) {
        html {
          font-size: 125%;
        }
      }
    </style>
  </head>
  <body>
    {{{ content }}}
  </body>
</html>
